.explore-page {
    order: 2;
    width: calc(100% - 400px);
    padding: 1rem;
    /* padding-top: 2rem; */
}

.section-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    & h2 {
        font-size: 1.2rem;
    }
}

.featured-playlists-section {
    /* border: 1px solid red; */
}

.featured-playlist {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
}

.top-tracks-section {
    /* border: 1px solid red; */
    height: 40%;
}

.tracks {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100%;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 960px) {
    .explore-page {
        width: calc(100% - 300px);
    }
}
