.artists-page {
    margin-inline: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 4px;
    }

    & section {
        width: 100%;
    }
}

