.albums-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    list-style: none;
    padding: 1rem .5rem;

    &::-webkit-scrollbar {
        height: 0px;
    }
}

@media (max-width: 640px) {
    .albums-list {
        padding: .5rem 0rem;
    }
}